.progress{
      position: relative;
      width: 100%;
      height: 10px;
      background-color: #dedede;

      /*
      Color has to be assigned manually afterwards 
      */
      @for $i from 1 through 100{
            .progress-#{$i} {
                  position: relative;
                  height: 100%;
                  width: #{$i}unquote("%");
            }
      }
}