.progress {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #dedede;
  /*
  Color has to be assigned manually afterwards 
  */ }
  .progress .progress-1 {
    position: relative;
    height: 100%;
    width: 1%; }
  .progress .progress-2 {
    position: relative;
    height: 100%;
    width: 2%; }
  .progress .progress-3 {
    position: relative;
    height: 100%;
    width: 3%; }
  .progress .progress-4 {
    position: relative;
    height: 100%;
    width: 4%; }
  .progress .progress-5 {
    position: relative;
    height: 100%;
    width: 5%; }
  .progress .progress-6 {
    position: relative;
    height: 100%;
    width: 6%; }
  .progress .progress-7 {
    position: relative;
    height: 100%;
    width: 7%; }
  .progress .progress-8 {
    position: relative;
    height: 100%;
    width: 8%; }
  .progress .progress-9 {
    position: relative;
    height: 100%;
    width: 9%; }
  .progress .progress-10 {
    position: relative;
    height: 100%;
    width: 10%; }
  .progress .progress-11 {
    position: relative;
    height: 100%;
    width: 11%; }
  .progress .progress-12 {
    position: relative;
    height: 100%;
    width: 12%; }
  .progress .progress-13 {
    position: relative;
    height: 100%;
    width: 13%; }
  .progress .progress-14 {
    position: relative;
    height: 100%;
    width: 14%; }
  .progress .progress-15 {
    position: relative;
    height: 100%;
    width: 15%; }
  .progress .progress-16 {
    position: relative;
    height: 100%;
    width: 16%; }
  .progress .progress-17 {
    position: relative;
    height: 100%;
    width: 17%; }
  .progress .progress-18 {
    position: relative;
    height: 100%;
    width: 18%; }
  .progress .progress-19 {
    position: relative;
    height: 100%;
    width: 19%; }
  .progress .progress-20 {
    position: relative;
    height: 100%;
    width: 20%; }
  .progress .progress-21 {
    position: relative;
    height: 100%;
    width: 21%; }
  .progress .progress-22 {
    position: relative;
    height: 100%;
    width: 22%; }
  .progress .progress-23 {
    position: relative;
    height: 100%;
    width: 23%; }
  .progress .progress-24 {
    position: relative;
    height: 100%;
    width: 24%; }
  .progress .progress-25 {
    position: relative;
    height: 100%;
    width: 25%; }
  .progress .progress-26 {
    position: relative;
    height: 100%;
    width: 26%; }
  .progress .progress-27 {
    position: relative;
    height: 100%;
    width: 27%; }
  .progress .progress-28 {
    position: relative;
    height: 100%;
    width: 28%; }
  .progress .progress-29 {
    position: relative;
    height: 100%;
    width: 29%; }
  .progress .progress-30 {
    position: relative;
    height: 100%;
    width: 30%; }
  .progress .progress-31 {
    position: relative;
    height: 100%;
    width: 31%; }
  .progress .progress-32 {
    position: relative;
    height: 100%;
    width: 32%; }
  .progress .progress-33 {
    position: relative;
    height: 100%;
    width: 33%; }
  .progress .progress-34 {
    position: relative;
    height: 100%;
    width: 34%; }
  .progress .progress-35 {
    position: relative;
    height: 100%;
    width: 35%; }
  .progress .progress-36 {
    position: relative;
    height: 100%;
    width: 36%; }
  .progress .progress-37 {
    position: relative;
    height: 100%;
    width: 37%; }
  .progress .progress-38 {
    position: relative;
    height: 100%;
    width: 38%; }
  .progress .progress-39 {
    position: relative;
    height: 100%;
    width: 39%; }
  .progress .progress-40 {
    position: relative;
    height: 100%;
    width: 40%; }
  .progress .progress-41 {
    position: relative;
    height: 100%;
    width: 41%; }
  .progress .progress-42 {
    position: relative;
    height: 100%;
    width: 42%; }
  .progress .progress-43 {
    position: relative;
    height: 100%;
    width: 43%; }
  .progress .progress-44 {
    position: relative;
    height: 100%;
    width: 44%; }
  .progress .progress-45 {
    position: relative;
    height: 100%;
    width: 45%; }
  .progress .progress-46 {
    position: relative;
    height: 100%;
    width: 46%; }
  .progress .progress-47 {
    position: relative;
    height: 100%;
    width: 47%; }
  .progress .progress-48 {
    position: relative;
    height: 100%;
    width: 48%; }
  .progress .progress-49 {
    position: relative;
    height: 100%;
    width: 49%; }
  .progress .progress-50 {
    position: relative;
    height: 100%;
    width: 50%; }
  .progress .progress-51 {
    position: relative;
    height: 100%;
    width: 51%; }
  .progress .progress-52 {
    position: relative;
    height: 100%;
    width: 52%; }
  .progress .progress-53 {
    position: relative;
    height: 100%;
    width: 53%; }
  .progress .progress-54 {
    position: relative;
    height: 100%;
    width: 54%; }
  .progress .progress-55 {
    position: relative;
    height: 100%;
    width: 55%; }
  .progress .progress-56 {
    position: relative;
    height: 100%;
    width: 56%; }
  .progress .progress-57 {
    position: relative;
    height: 100%;
    width: 57%; }
  .progress .progress-58 {
    position: relative;
    height: 100%;
    width: 58%; }
  .progress .progress-59 {
    position: relative;
    height: 100%;
    width: 59%; }
  .progress .progress-60 {
    position: relative;
    height: 100%;
    width: 60%; }
  .progress .progress-61 {
    position: relative;
    height: 100%;
    width: 61%; }
  .progress .progress-62 {
    position: relative;
    height: 100%;
    width: 62%; }
  .progress .progress-63 {
    position: relative;
    height: 100%;
    width: 63%; }
  .progress .progress-64 {
    position: relative;
    height: 100%;
    width: 64%; }
  .progress .progress-65 {
    position: relative;
    height: 100%;
    width: 65%; }
  .progress .progress-66 {
    position: relative;
    height: 100%;
    width: 66%; }
  .progress .progress-67 {
    position: relative;
    height: 100%;
    width: 67%; }
  .progress .progress-68 {
    position: relative;
    height: 100%;
    width: 68%; }
  .progress .progress-69 {
    position: relative;
    height: 100%;
    width: 69%; }
  .progress .progress-70 {
    position: relative;
    height: 100%;
    width: 70%; }
  .progress .progress-71 {
    position: relative;
    height: 100%;
    width: 71%; }
  .progress .progress-72 {
    position: relative;
    height: 100%;
    width: 72%; }
  .progress .progress-73 {
    position: relative;
    height: 100%;
    width: 73%; }
  .progress .progress-74 {
    position: relative;
    height: 100%;
    width: 74%; }
  .progress .progress-75 {
    position: relative;
    height: 100%;
    width: 75%; }
  .progress .progress-76 {
    position: relative;
    height: 100%;
    width: 76%; }
  .progress .progress-77 {
    position: relative;
    height: 100%;
    width: 77%; }
  .progress .progress-78 {
    position: relative;
    height: 100%;
    width: 78%; }
  .progress .progress-79 {
    position: relative;
    height: 100%;
    width: 79%; }
  .progress .progress-80 {
    position: relative;
    height: 100%;
    width: 80%; }
  .progress .progress-81 {
    position: relative;
    height: 100%;
    width: 81%; }
  .progress .progress-82 {
    position: relative;
    height: 100%;
    width: 82%; }
  .progress .progress-83 {
    position: relative;
    height: 100%;
    width: 83%; }
  .progress .progress-84 {
    position: relative;
    height: 100%;
    width: 84%; }
  .progress .progress-85 {
    position: relative;
    height: 100%;
    width: 85%; }
  .progress .progress-86 {
    position: relative;
    height: 100%;
    width: 86%; }
  .progress .progress-87 {
    position: relative;
    height: 100%;
    width: 87%; }
  .progress .progress-88 {
    position: relative;
    height: 100%;
    width: 88%; }
  .progress .progress-89 {
    position: relative;
    height: 100%;
    width: 89%; }
  .progress .progress-90 {
    position: relative;
    height: 100%;
    width: 90%; }
  .progress .progress-91 {
    position: relative;
    height: 100%;
    width: 91%; }
  .progress .progress-92 {
    position: relative;
    height: 100%;
    width: 92%; }
  .progress .progress-93 {
    position: relative;
    height: 100%;
    width: 93%; }
  .progress .progress-94 {
    position: relative;
    height: 100%;
    width: 94%; }
  .progress .progress-95 {
    position: relative;
    height: 100%;
    width: 95%; }
  .progress .progress-96 {
    position: relative;
    height: 100%;
    width: 96%; }
  .progress .progress-97 {
    position: relative;
    height: 100%;
    width: 97%; }
  .progress .progress-98 {
    position: relative;
    height: 100%;
    width: 98%; }
  .progress .progress-99 {
    position: relative;
    height: 100%;
    width: 99%; }
  .progress .progress-100 {
    position: relative;
    height: 100%;
    width: 100%; }

/*# sourceMappingURL=progress-bar.css.map */
