@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|PT+Sans:400,700&display=swap');

:root{
      --mainColor: #a9eae4;
      --text3d: 1px 1px 0px rgba(240, 240, 240, 0.40),
      2px 2px 0px rgba(240, 240, 240, 0.40),
      3px 3px 0px rgba(240, 240, 240, 0.40),
      4px 4px 0px rgba(240, 240, 240, 0.40),
      5px 5px 0px rgba(240, 240, 240, 0.40),
      6px 6px 0px rgba(240, 240, 240, 0.40),
      7px 7px 0px rgba(240, 240, 240, 0.40),
      8px 8px 0px rgba(240, 240, 240, 0.40),
      9px 9px 0px rgba(240, 240, 240, 0.40),
      10px 10px 0px rgba(240, 240, 240, 0.40),
      11px 11px 0px rgba(240, 240, 240, 0.40),
      12px 12px 0px rgba(240, 240, 240, 0.40),
      13px 13px 0px rgba(240, 240, 240, 0.40),
      14px 14px 0px rgba(240, 240, 240, 0.40),
      15px 15px 0px rgba(240, 240, 240, 0.40),
      16px 16px 0px rgba(240, 240, 240, 0.40),
      17px 17px 0px rgba(240, 240, 240, 0.40),
      18px 18px 0px rgba(240, 240, 240, 0.40),
      19px 19px 0px rgba(240, 240, 240, 0.40),
      20px 20px 0px rgba(240, 240, 240, 0.40);
}

html, body{
      margin: 0;
      background-color: #a9eae4;
      font-family: "PT Sans";
      background-image: 
      linear-gradient(to bottom, #a1e3ed, #85d8f4, #75cafc, 
      #79baff, #90a6fd, #74aaff, #4faeff, #00b2ff, #00cbff, 
      #00e0ed, #00f0bd, #5ffb81);
      scroll-behavior: smooth;
}
nav{
      position: fixed;
      width: 100%;
      height: 55px;
      background: white;
      z-index: 99;
      border-bottom: solid 4px #d6d9e1;
}
nav ul li a.logo{
      font-family: "Oswald";
      color: #214aab;
      font-size: 20px;
      transform: rotate(-10deg) scale(1.5);
      font-weight: 700;
      display: inline-block;
      text-decoration: none;
}
#menu_icon{
      cursor: pointer;
}
nav ul li{
      display: inline-block;
      margin: 0px 15px 0px 15px;
}
.logo{
      text-shadow: var(--text3d);
      transform: rotate(-90deg) skewX(-25deg);
      font-family: "Oswald";
      line-height: 0.8em ;
      color: #214aab;
}
.contents{
      position: relative;
      width: 95%;
      margin: 0 auto;
      text-align: center;
      height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
}
h1{
      flex: auto;
      width: 50%;
      font-size: 8em;
      transform: rotate(-10deg) skewX(-25deg) !important;
}
header .header_nav{
      flex: auto;
      width:  50%;
}
header .header_nav p:first-child{
      font-size: 4em;
      color: white;
      position: relative;
}
header .header_nav p:nth-child(2){
      margin-top: 25px;
      color: white;
      font-size: 1.4em;
}
header .header_nav p:nth-child(2)::before{
      content: '';
      height: 2px;
      background-color: white;
      position: relative;
      width: 100px;
      display: inline-block;
      margin: 0 10px 6px 0;
}
header .header_nav p:nth-child(2)::after{
      content: '';
      height: 2px;
      background-color: white;
      position: relative;
      width: 100px;
      display: inline-block;
      margin: 0 0 6px 10px;
}
header .header_nav ul li{
      display: inline-block;
      list-style-type: none;
      margin: 15px 20px 15px 20px;
      font-size: 1.4em;
      font-weight: 700;
}
header .header_nav ul li a {
      color: white;
      text-decoration: none;
      transition: text-shadow .2s ease-in-out;
}
header .header_nav ul li a:hover{
      text-shadow: 0px 0px 10px rgba(80, 80, 80, 0.50);
      text-decoration: underline;
}
.after-header{
      position: relative;
      width: 100%;
      margin-top: -20px;
      background: white;
}
.after-header section{
      padding: 100px 0px 50px 0px;
}
.after-header .background section{
      background-color: #eeeeee;
}
.after-header .background{
      background-color: #eeeeee;
}
.left{
      float: left;
}
.right{
      float: right;
}
section{
      width: 750px;
      max-width: 95%;
      margin: 0 auto;
      background-color: white;
}
.h2-container{
      position: relative;
      width: 100%;
      text-align: center;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      position: sticky;
      top: 60px;
      z-index: 10;
}
h2{
      font-size: 3em;
      position: relative;
      z-index: 5;
}
h3{
      font-size: 2.2em;
      position: relative;
      z-index: 1;
      text-align: center;
}
h3::before{
      content: '';
      position: absolute;
      width: 1em;
      height: 3px;
      background: #4aaee8;
      z-index: -1;
      top: calc(1em + 5px);
}
.h2-container p{
      position: absolute;
      font-size: 7em;
      color: #e6e6e6;
      z-index: 0;
      bottom: 10px;
      text-shadow: rgb(255, 255, 255) 10px 0px 0px, 
      rgb(255, 255, 255) 9.95004px 0.998334px 0px, 
      rgb(255, 255, 255) 9.80067px 1.98669px 0px, 
      rgb(255, 255, 255) 9.55336px 2.9552px 0px, 
      rgb(255, 255, 255) 9.21061px 3.89418px 0px, 
      rgb(255, 255, 255) 8.77583px 4.79426px 0px, 
      rgb(255, 255, 255) 8.25336px 5.64642px 0px,
      rgb(255, 255, 255) 7.64842px 6.44218px 0px, 
      rgb(255, 255, 255) 6.96707px 7.17356px 0px, 
      rgb(255, 255, 255) 6.2161px 7.83327px 0px, 
      rgb(255, 255, 255) 5.40302px 8.41471px 0px, 
      rgb(255, 255, 255) 4.53596px 8.91207px 0px,
      rgb(255, 255, 255) 3.62358px 9.32039px 0px, 
      rgb(255, 255, 255) 2.67499px 9.63558px 0px, 
      rgb(255, 255, 255) 1.69967px 9.8545px 0px,
      rgb(255, 255, 255) 0.707372px 9.97495px 0px, 
      rgb(255, 255, 255) -0.291995px 9.99574px 0px, 
      rgb(255, 255, 255) -1.28844px 9.91665px 0px, 
      rgb(255, 255, 255) -2.27202px 9.73848px 0px, 
      rgb(255, 255, 255) -3.2329px 9.463px 0px, 
      rgb(255, 255, 255) -4.16147px 9.09297px 0px, 
      rgb(255, 255, 255) -5.04846px 8.63209px 0px, 
      rgb(255, 255, 255) -5.88501px 8.08496px 0px, 
      rgb(255, 255, 255) -6.66276px 7.45705px 0px, 
      rgb(255, 255, 255) -7.37394px 6.75463px 0px, 
      rgb(255, 255, 255) -8.01144px 5.98472px 0px, 
      rgb(255, 255, 255) -8.56889px 5.15501px 0px, 
      rgb(255, 255, 255) -9.04072px 4.2738px 0px,
      rgb(255, 255, 255) -9.42222px 3.34988px 0px, 
      rgb(255, 255, 255) -9.70958px 2.39249px 0px, 
      rgb(255, 255, 255) -9.89993px 1.4112px 0px, 
      rgb(255, 255, 255) -9.99135px 0.415807px 0px, 
      rgb(255, 255, 255) -9.98295px -0.583741px 0px,
      rgb(255, 255, 255) -9.8748px -1.57746px 0px, 
      rgb(255, 255, 255) -9.66798px -2.55541px 0px, 
      rgb(255, 255, 255) -9.36457px -3.50783px 0px, 
      rgb(255, 255, 255) -8.96758px -4.4252px 0px, 
      rgb(255, 255, 255) -8.481px -5.29836px 0px, 
      rgb(255, 255, 255) -7.90968px -6.11858px 0px,
      rgb(255, 255, 255) -7.25932px -6.87766px 0px, 
      rgb(255, 255, 255) -6.53644px -7.56803px 0px, 
      rgb(255, 255, 255) -5.74824px -8.18277px 0px, 
      rgb(255, 255, 255) -4.90261px -8.71576px 0px, 
      rgb(255, 255, 255) -4.00799px -9.16166px 0px, 
      rgb(255, 255, 255) -3.07333px -9.51602px 0px, 
      rgb(255, 255, 255) -2.10796px -9.7753px 0px, 
      rgb(255, 255, 255) -1.12153px -9.93691px 0px, 
      rgb(255, 255, 255) -0.123887px -9.99923px 0px, 
      rgb(255, 255, 255) 0.87499px -9.96165px 0px,
      rgb(255, 255, 255) 1.86512px -9.82453px 0px, 
      rgb(255, 255, 255) 2.83662px -9.58924px 0px,
      rgb(255, 255, 255) 3.77978px -9.25815px 0px, 
      rgb(255, 255, 255) 4.68517px -8.83455px 0px, 
      rgb(255, 255, 255) 5.54374px -8.32267px 0px, 
      rgb(255, 255, 255) 6.34693px -7.72764px 0px, 
      rgb(255, 255, 255) 7.0867px -7.0554px 0px, 
      rgb(255, 255, 255) 7.75566px -6.31267px 0px, 
      rgb(255, 255, 255) 8.34713px -5.50686px 0px, 
      rgb(255, 255, 255) 8.8552px -4.64602px 0px, 
      rgb(255, 255, 255) 9.27478px -3.73877px 0px, 
      rgb(255, 255, 255) 9.6017px -2.79415px 0px, 
      rgb(255, 255, 255) 9.83268px -1.82162px 0px, 
      rgb(255, 255, 255) 9.96542px -0.830894px 0px;
}
p{
      font-size: 1.2em;
      margin: 5px;
}
#about .content{
      display: flex;
      align-items: center;
      justify-content: center;
}
#about .content p{
      width: 60%;
}
.border-wrap{
      display: block;
      position: relative;
      width: 100%;
}
.border-wrap::before{
      content: '';
      display: block;
      padding-top: 100%;
}
.border-wrap .bw-image{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 5;
}
.border-wrap .bw-border{
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top right, #0CCDA3, #C1FCD3);
      bottom: 10%;
      right: 10%;
      z-index: 1;
}
#about .bw-image{
      background: url(../images/maxime.jpg);
      background-size: cover;
}
#about .border-wrap{
      width: 40%;
}
div .container-border{
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      border: solid 2px blue;
      top: 1%;
      left: 1%;
      background: transparent;
}
#menu{
      top: 55px;
      position: fixed;
      display: none;
      width: 25%;
      margin-left: 75%;
      height: 0vh;
      background: white;
      z-index: 100;
      border: solid 4px #d6d9e1;
      border-top: none;
}
#menu ul{
      margin: 0;
      padding: 0;
}
#menu ul li{
      list-style-type: none;
      text-align: center;
      opacity: 0;
}
#menu ul li a{
      color: #7493dc;
      display: inline-block;
      font-family: "Oswald";
      font-size: 1.2em;
      text-decoration: none;
}
#menu ul li a::after{
      content: '';
      display: block;
      transform: scaleX(0);
      border-bottom: solid 2px #7493dc;
      transition: transform .2s ease-out;
}
#menu ul li a:hover::after{
      transform: scaleX(1);
}
#menu_icon i{
      font-size: 1.2em;
}

#project_container{
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      flex-wrap: wrap;

      width: 100%;
}
#project_container .project{
      position: relative;
      overflow: hidden;

      margin: 10px 0px 10px 0px;

      width: 100%;
      height: auto;

      border-bottom: solid 1px #e3e3e3;
      border-radius: 5px;
      box-sizing: border-box;

      background-color: white;
      z-index: 10;
      transition: all ease-in-out .3s;

      opacity: 0;
}
#project_container .project .background{
      position: relative;

      width: 100%;
      padding-top: 35%;

      background-size: cover;
}
#project_container .project h3{
      font-size: 2em;
      text-align: center;
}
#project_container .project p{
      font-size: 1.3em;
}
#project_container .project a{
      text-align: center;
      text-decoration: none;
      font-weight: bolder;
      color: white;

      float: right;
      clear: both;

      margin-left: 2.5%;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 10px;

      box-sizing: border-box;
      border: solid 2px #c82309;
      border-radius: 50px;

      background: linear-gradient(to left, #d74e09, #d72509);
      transition: all .2s ease-in-out;
}
#project_container .project a:hover{
      box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.36);
      background-size: 120%;
}
#stats{
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 40px 40px 0px 8px rgba(245,250,105,0.6);
}
#statsTable{
      table-layout: fixed;
      width: 100%;
      position: relative;
}
#statsTable tr td div{
      transform: scale(0);
}

#statsTable tr td:first-child{
      position: relative;
      min-width: 15%;
      max-width: 15%;
      font-size: 1.4em;
      overflow: hidden;     
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
}
#statsTable tr td:nth-child(2){
      position: relative;
      min-width: 85%;
      max-width: 85%;
 
}
form{
      display: flex;
}
.input label{
      display: block;
      transform: translate(5px, -35px);
      transform-origin: left top;
      transition: all ease-in-out .1s;
      cursor: text;
}
.input textarea + label{
      transform: translate(5px, -70px); 
}

.input textarea:focus + label, .input textarea:not(:placeholder-shown) + label {
      transform: translate(5px, -90px) scale(0.75);
}

.input input:focus + label, .input input:not(:placeholder-shown) + label{
      transform: translate(5px, -65px) scale(0.75);
}
form .left{
      position: relative;
      width: 40%;
      margin: 5px;
}

form .right{
      position: relative;
      width: 60%;
      margin: 5px;
}

form input, form textarea{
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      outline: none;
      border: solid 2px #d1d1d1;
      font-family: "PT Sans";
      font-size: 1.2em;
      box-sizing: border-box;
}
form button{
      background: none;
      border: solid 3px #3e94df;
      color: #3e94df;
      padding: 10px;
      font-size: 1em;
      font-family: "PT Sans";
      float: right;
      clear: both;
      transition: all .2s ease-in-out;
}
form button:hover{
      background: #adcce7;
      color: white;
}
form button:active{
      background-color: #76bfff;
}

form textarea{
      font-size: 1.1em;
}

footer{
      width: 1000px;
      min-height: 90vh;
      
      max-width: 98%;
      margin: 0 auto;
      background: #ffffff4d;

      padding: 10px;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      text-shadow: 0px 1px 2px #00000099;
}
footer a{
      color: inherit;
      font-size: inherit;
      text-decoration: inherit;
}
footer .copyright{
      color: white;
      font-size: 1.8em;
      font-weight: 700;
}
footer ul{
      list-style-type: none;
      
      font-size: 1.4em;
      color: white;
      text-align: center;
      text-decoration: none;
}
footer ul li{
      position: relative;
      margin: 10px;
      transition: all .5s ease-in-out;
      z-index: 5;
      padding: 2px 5px 2px 5px;
}
footer ul li::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: -1px;
      left: 0;
      transform: scaleX(0);
      transform-origin: center;
      transition: all ease-in-out .25s;
}
footer ul li:hover::after{
      content: '';
      position: absolute;
      transform: scaleX(1);
      transform-origin: center;
      background: #ffffff80;
      z-index: -1;
}
.row-container{
      display: flex;
      width: 100%;
      position: relative;
}

.row-container .column-1-2{
      position: relative;
      width: 50%;
}
.row-container .column-2-2{
      position: relative;
      width: 50%;
}
.progress div{
      background: linear-gradient(to right, #a1e3ed, #85d8f4, #75cafc, 
      #79baff, #90a6fd);
}

.marker{
      padding: 0px 5px 0px 5px;
}
.marker.blue{
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,
      rgba(27,172,182,0) 30%,
      rgba(27,172,182,1) 30%,
      rgba(27,172,182,1) 100%);
}
.marker.yellow{
      background-color: #f4e648;
}
.marker.green{
      background-color: #69f03d;
}

.underline{
      padding: 0px 5px 0px 5px;
}
.underline.blue{
      border-bottom: solid 4px #1bacb6;
}
.underline.yellow{
      border-bottom: solid 4px #f4e648;
}
.underline.green{
      border-bottom: solid 4px #69f03d;
}