html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.content {
    position: relative;
    overflow-x: hidden;
}

.fade-enter,
.fade-exit {
    transition: opacity .5s cubic-bezier(0.16, 1, 0.3, 1);
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
}