@import url(./assets/styles/fonts.css);
@import url(./assets/styles/colors.css);
@import url(./assets/styles/transitions.css);
@import url(./assets/icons/fontawesome.min.css);

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;

    background-color: var(--background-color);
    color: var(--general-text-color);
    font-family: "Questrial";
}

p {
    font-size: 1.1rem;
    font-family: "PT Serif";
}

h1,
h2,
h3 {
    font-family: "Questrial";
}

h1 {
    font-size: 2.2rem;
    font-weight: 500;
}

.container {
    position: relative;
    display: block;
    width: 95%;
    margin: 0 auto;
}

.home h1.multiline .line:first-child {
    color: var(--general-text-color-less);
}

.home h1 {
    border-bottom: solid 1px var(--divider-color);
    width: 80%;
    margin-bottom: 0;
}

.home h1 + p {
    margin-top: .7rem;
}

.home > section {
    position: relative;
    height: 100vh;
    padding: 0 2.5%;
    margin: 0 auto;
    box-sizing: border-box;
}

.home > section:first-child {
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    overflow-x: hidden;
}

.multiline {
    display: block;
}

.multiline > .line {
    display: block;
    margin: 10px 0;
}

header nav {
    position: fixed;
    z-index: 15;
    width: 100%;
    top: 0;
    left: 0;

    padding: 0 10px;
    box-sizing: border-box;

    background: var(--header-nav-background-color);
    color: var(--header-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav .menu-icon svg {
    color: var(--menu-icon-color);
}

header .slide {
    position: fixed;
    width: 100%;
    height: calc(100vh - 70px);
    z-index: 100;
    top: 70px;
    background-color: var(--header-menu-background);
    display: none;
    flex-direction: column;
    justify-content: center;
}

header .slide ul {
    list-style-type: none;
    padding: 0;
}

header .slide ul li {
    line-height: 4rem;
    font-size: 1.4rem;
    text-align: center;
}

header .slide .social-links {
    margin: 0 auto;
    width: 80%;
}

header .slide .social-links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .slide .social-links ul li {
    margin: 0 20px;
}

header .slide a {
    position: relative;
    color: var(--menu-link-color);
    text-decoration: none;
    padding: 5px 10px;
}

header .slide a::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 5px;
    transform: scaleX(0%);
    transform-origin: right;
    background: var(--secondary-color);
    transition: all .5s cubic-bezier(0.19,1,0.22,1);
}

header .slide a:hover::after,
header .slide .social-links a:hover::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    transform: scaleX(100%);
    background: var(--ternary-color);
}

.nav-fix-height {
    position: relative;
    width: 2px;
    background: transparent;
}
.home-bio-container {
    overflow: hidden;
    width: 80%;
}

.fab-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 10;
    bottom: 1.2rem;

    width: 56px;
    height: 56px;

    background-color: var(--fab-color);
    color: var(--fab-text-color);

    border-radius: 500px;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.42),
                0px 0px 8px 2px rgba(0, 0, 0, 0.26);
}
