@import url(./assets/styles/fonts.css);
@import url(./assets/styles/colors.css);
@import url(./assets/styles/transitions.css);
@import url(./assets/icons/fontawesome.min.css);

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;

    background-color: var(--background-color);
    color: var(--general-text-color);
    font-family: "Questrial";
}

img {
    display: block;
    position: relative;
    width: 100%;
}

p {
    font-size: 1.1rem;
    font-family: "PT Serif";
}

a {
    text-decoration: none;
    color: var(--links-color);
}

a:hover {
    color: var(--links-color-hover);
}

h1,
h2,
h3 {
    font-family: "Questrial";
}

h1 {
    font-size: 2.2rem;
    font-weight: 500;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2, h3 {
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

.container {
    position: relative;
    display: block;
    width: 95%;
    margin: 0 auto;
}

.home h1.multiline .line:first-child {
    color: var(--general-text-color-less);
}

.home h1 {
    border-bottom: solid 1px var(--divider-color);
    margin-bottom: 0;
    width: 80%;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}

.home h1 + p {
    margin-top: .7rem;
}

.home > section {
    position: relative;
    padding: 0 2.5%;
    margin: 0 auto;
    box-sizing: border-box;
}

.home > section:first-child {
    min-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home > section:not(:first-child) {
    padding: 20px 0;
}

.content {
    position: relative;
}

.multiline {
    display: block;
}

.multiline > .line {
    display: block;
    margin: 10px 0;
}

.button {
    position: relative;
    display: inline-block;

    transform: translate(0,0);

    border: solid 4px;
    border-radius: 10px;

    padding: 15px;
    box-sizing: border-box;

    background-color: transparent;
    
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: "Questrial";
    font-weight: 600;
    font-size: 1rem;

    transition: all .5s cubic-bezier(0.25, 1, 0.5, 1);
}

.button.primary[disabled] {
    filter: brightness(.7);
    opacity: .7;
}

.button.primary[disabled]:hover {
    color: var(--ternary-color);
}

.button.primary[disabled]:hover::after {
    opacity: 0;
}

.button::after {
    content: '';
    display: block;
    position: absolute;

    left: 0;
    top: -1px;

    border-radius: 5px;
    box-sizing: border-box;
    
    width: 100%;
    height: calc(100% + 2px);

    transform: scaleX(0);

    opacity: 0;

    z-index: -1;

    transition: transform .40s cubic-bezier(0.25, 1, 0.5, 1), opacity .35s cubic-bezier(0.25, 1, 0.5, 1);
}

.button:hover::after {
    content: '';
    opacity: 1;
}

.button:focus {
    filter: brightness(.8);
}

.button.primary {
    color: var(--ternary-color);
    border-color: var(--ternary-color);
}

.button.primary::after {
    content: '';
    background-color: var(--ternary-color);
}

.button.primary:hover {
    color: var(--general-text-color);
}

.button.primary:hover::after {
    content: '';
    transform: scaleX(1);
}

header nav {
    position: fixed;
    z-index: 15;
    width: 100%;
    top: 0;
    left: 0;

    padding: 0 10px;
    box-sizing: border-box;

    background: var(--header-nav-background-color);
    color: var(--header-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav .menu-icon svg {
    color: var(--menu-icon-color);
}

header .slide {
    position: fixed;
    width: 100%;
    height: calc(100vh - 70px);
    z-index: 100;
    top: 70px;
    background-color: var(--header-menu-background);
    display: none;
    flex-direction: column;
    justify-content: center;
}

header .slide ul {
    list-style-type: none;
    padding: 0;
}

header .slide ul li {
    line-height: 4rem;
    font-size: 1.4rem;
    text-align: center;
}

header .slide .social-links {
    margin: 0 auto;
    width: 80%;
}

header .slide .social-links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .slide .social-links ul li {
    margin: 0 20px;
}

header .slide a {
    position: relative;
    color: var(--menu-link-color);
    text-decoration: none;
    padding: 5px 10px;
}

header .slide a::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 5px;
    transform: scaleX(0%);
    transform-origin: right;
    background: var(--secondary-color);
    transition: all .5s cubic-bezier(0.19,1,0.22,1);
}

header .slide a:hover::after,
header .slide .social-links a:hover::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    transform: scaleX(100%);
    background: var(--ternary-color);
}

.nav-fix-height {
    position: relative;
    width: 2px;
    background: transparent;
}
.home-bio-container {
    overflow: hidden;
    width: 80%;
}

.fab-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 10;
    bottom: 1.2rem;

    width: 56px;
    height: 56px;

    background-color: var(--fab-color);
    color: var(--fab-text-color);

    border-radius: 500px;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.42),
                0px 0px 8px 2px rgba(0, 0, 0, 0.26);
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-bottom: 40px;
}

.project-container .project {
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
    width: 100%;
    
    text-align: center;
}

.project h3 i {
    font-size: 1rem;
    line-height: 2rem;
    margin-left: 10px;
    transform: translateY(-2px);
}

.project-container .project .project-image {
    position: relative;
    display: block;

    width: 90%;

    margin: 0 auto;
    padding-top: 52.6%;

    border-radius: 5px;
    overflow: hidden;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.project-container .project .project-description {
    width: 80%;
    margin: 0 auto;
}

.scaling-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.scaling-image > img {
    transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.scaling-image:hover > img {
    transform: scale(1.1);
}

.more-projects-btn {
    margin-left: 50%;
    transform: translateX(-50%);
}

.card {
    display: block;
    position: relative;
    width: 100%;

    background: var(--card-background);
    color: var(--card-text-color);

    padding: 20px;
    box-sizing: border-box;

    border-radius: 10px;

    box-shadow: 0px 2px 21px -15px rgba(63, 63, 63, 0.5),
                0px 2px 19px -13px rgba(63, 63, 63, 0.5),
                0px 2px 14px -8px rgba(63, 63, 63, 0.5);
}

section.about-me .card {
    width: 90%;
    margin: calc(36px + 20px) auto;
}

.card.user > .photo-container {
    position: relative;
    height: 36px;
}

.card.user > .photo-container > img {
    position: absolute;

    left: 50%;
    transform: translateX(-50%) translateY(calc(-100% + 20px));

    width: 72px;
    height: 72px;

    border-radius: 200px;
}

.card.user h3 {
    margin: 0;
}

.card.user > .social-links ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    list-style-type: none;

    padding: 0;
}

.card.user > .social-links ul li {
    margin: 5px;
}

.card.user > .social-links ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card.user > .social-links ul li i {
    font-size: 1.4rem;
    margin-right: 5px;
}

.about-me .what-i-do {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

form.contact {
    position: relative;
    width: 90%;

    margin: 0 auto;
}

form .input-field {
    position: relative;
    width: 100%;

    margin: 10px 0;

    display: flex;
    flex-direction: column;
}

form .input-field input,
form .input-field textarea {
    position: relative;
    z-index: 2;

    font-family: "Questrial";
    font-size: 1.1rem;

    padding: 20px 10px;
    box-sizing: border-box;

    border: solid 1px var(--ternary-color);
    border-radius: 5px;

    background-color: var(--input-background-color);
    color: var(--input-text-color);

    transition: all .5s cubic-bezier(0.16, 1, 0.3, 1);
}

form .input-field textarea {
    min-height: 10rem;
}

form .input-field input:focus,
form .input-field textarea:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgba(255, 79, 121, 1);
}

form .input-field label {
    position: absolute;
    left: 10px;
    top: 22px;

    z-index: 2;

    font-size: 1.1rem;

    color: var(--input-label-color);

    transform: scale(1);
    transform-origin: left;

    transition: all .35s cubic-bezier(0.34, 1.56, 0.64, 1);
}

form .input-field *:focus + label,
form .input-field *:not(:placeholder-shown) + label {
    transform: translateY(-100%) scale(.8);
    color: var(--input-hover-label-color);
}

.timeline {
    position: relative;
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    margin: 20px 0;
}

.timeline > .timeline-line-part {
    position: absolute;
    left: 33.5px;

    background-color: var(--timeline-line-color);

    border-radius: 100px;
    
    width: 16px;
    height: 16px;
}

.timeline > .timeline-line-start {
    top: -8px;
}

.timeline > .timeline-line-end {
    bottom: -8px;
}

.timeline > .timeline-entry {
    display: grid;
    grid-template-columns: 64px auto;
    
    position: relative;
    z-index: 4;
    width: 100%;

    margin-bottom: 64px;
}

.timeline > .timeline-entry > .timeline-entry-date {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: .8rem;

    width: 64px;
    height: 64px;

    box-sizing: border-box;

    border: solid 2px var(--timeline-line-color);
    border-radius: 100px;
    background-color: var(--primary-color);
}

.timeline > .timeline-entry > .timeline-entry-content {
    position: relative;

    padding: 0 10px;

    box-sizing: border-box;
}

.timeline > .timeline-entry > .timeline-entry-content::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 50px;
    height: 4px;
    background: var(--timeline-line-color);
}

.timeline > .timeline-entry > .timeline-entry-content > h2 {
    text-align: left;
    font-weight: 400;
    margin-top: 15px;
}

.timeline::after {
    content: '';
    position: absolute;
    top: 0;
    left: 40px;

    height: 100%;
    width: 3px;

    z-index: 0;

    background-color: var(--timeline-line-color);
}