:root {
    --primary-color: #17183B;
    --primary-color-lighter: #2e225d;
    --secondary-color-darker: #3A1851;
    --secondary-color: #5C1767;
    --secondary-color-lighter: #A11692;
    --ternary-color-darker: #D03386;
    --ternary-color: #FF4F79;
    --ternary-color-lighter: #FFB49A;

    --links-color: var(--ternary-color);
    --links-color-hover: var(--ternary-color-darker);

    --divider-color: #aaabbf;
    --fab-color: var(--ternary-color);
    --fab-text-color: #ffebef;
    
    --background-color: var(--primary-color);
    --header-nav-background-color: #fff;
    --header-color: var(--secondary-color);

    --header-menu-background: #0f0f0f;

    --general-text-color: #fafafa;
    --general-text-color-less: #aaabbf;

    -menu-link-color: #fafafa;
    --menu-icon-color: var(--secondary-color);

    --card-background: #fafafa;
    --card-text-color: var(--primary-color);

    --input-background-color: transparent;
    --input-focus-background-color: #f2f2f2;
    --input-text-color: var(--general-text-color);
    --input-label-color: var(--general-text-color);
    --input-hover-label-color: #b6b7e0;

    --timeline-line-color: #b6b7e0;

    --fixed-footer-background-color: #ffffff;
}