@font-face {
    font-family: "Heebo";
    font-weight: 700;
    src: url(../fonts/Heebo-Bold.ttf);
}

@font-face {
    font-family: "Heebo";
    font-weight: 300;
    src: url(../fonts//Heebo-Light.ttf);
}

@font-face {
    font-family: "Heebo";
    font-weight: 500;
    src: url(../fonts/Heebo-Medium.ttf);
}

@font-face {
    font-family: "Heebo";
    font-weight: 400;
    src: url(../fonts//Heebo-Regular.ttf);
}

@font-face {
    font-family: "Questrial";
    font-weight: 400;
    src: url(../fonts/Questrial-Regular.ttf);
}