.fade-enter,
.fade-exit {
    transition: opacity .5s cubic-bezier(0.16, 1, 0.3, 1);
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
}

.menu-icon {
    transition: all .25s ease-in-out;
}

.menu-icon.enter{
    transform: scale(1);
    opacity: 1;
}
.menu-icon.enter-active {
    transform: scale(0);
    opacity: 0;
}

.menu-icon.enter-done {
    transform: scale(1);
    opacity: 1;
}

.menu-icon.exit {
    transform: scale(1);
    opacity: 1;
}

.menu-icon.exit-active {
    transform: scale(0);
    opacity: 0;
}

.menu-icon.exit-done {
    transform: scale(1);
    opacity: 1;
}

.slide {
    transition: all .5s cubic-bezier(0.16, 1, 0.3, 1);
}

.slide.enter {
    display: flex !important;
    transform: translateX(100%);
}

.slide.enter.enter-active {
    transform: translateX(0);
}

.slide.enter-done {
    transform: translateX(0);
    display: flex;
}

.slide.exit {
    transition-delay: .2s;
    display: flex;
    transform: translateX(0);
}

.slide.exit-active {
    transform: translateX(100%);
}

.slide.exit-done {
    transform: translateX(100%);
    display: none;
}

.slide ul li {
    transition: all .5s cubic-bezier(0.16, 1, 0.3, 1);
    transition-delay: .2s;
}

.slide.enter ul li {
    transform: translateX(-20%);
    opacity: 0;
}

.slide.enter-active ul li {
    transform: translateX(0);
    opacity: 1;
}

.slide.enter-done ul li {
    transform: translateX(0);
    opacity: 1;
}

.slide.exit ul li {
    transition-delay: 0s;
    transform: translateX(0);
    opacity: 1;
}

.slide.exit-active ul li {
    transform: translateX(20%);
    opacity: 0;
}

.home-hi{
    transform-origin: left;
    animation-play-state: paused;
    transform: translateY(100%) scale(1);
    opacity: 0;
}

.home-hi.playing {
    animation: homehi-appear 750ms cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-play-state: running;
}

.home-hi.done {
    animation-fill-mode: forwards;
}

.home-name {
    animation-play-state: paused;
    opacity: 0;
    transform-origin: left;
}

.home-name.playing {
    animation: homename-appear 750ms cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-play-state: running;
    animation-fill-mode: both;
}

@keyframes homehi-appear {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        transform: translateY(100%) scale(1);
    }
    100% {
        transform: translateY(0) scale(.8);
        opacity: 1;
    }
}

@keyframes homename-appear {
    0% {
        transform: translateY(100%) scale(.8);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}